<!DOCTYPE html>
<html>
    <head>
        <title>Springspinnen blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Springspinnen blog</a></h1>
        </header>
        <article>
        </article>
        <p>Hallo Spinner</p>
        <p>Springspinnen sind toll!</p>

            <time>published: 17.10.2024, 10:45</time>
            <h2><a href="">My first post</a></h2>
            <p>Springspinnen sind die niedlichsten Spinnen</p>
        </article>

        <article>
            <time>published: 17.10.2024, 10:45</time>
            <h2><a href="">My second post</a></h2>
            <p>Springspinnen lieben Fliegen</p>
        </article>


    </body>
</html> 